<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head th:include="layout :: htmlhead"></head>
    <body>
        <nav th:replace="layout :: menu">(menu)</nav>
        <main>
            <h1>Orçamentos</h1>
            <hr>

            <a th:href="@{/orcamentos/novo}" class="btn btn-primary">Novo</a>
            <table class="table" id="taborcamentos">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Endereço</th>
                        <th>Data de Nascimento</th>
                        <th>Cliente</th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="umOrcamento : ${listaOrcamentos}">
                        <td th:text="${umOrcamento.valorTotal}"></td>
                        <td th:text="${umCliente.nome?.nome}"></td>
                            <td><a class="btn btn-secondary" th:href="@{'clientes/alterar/' + ${umCliente.id}}">Alterar</a>
                                <button 
                                th:data-id="${umCliente.id}"
                                class="btn btn-danger js-delete">Excluir</button>
                            </td>
                    </tr>
                </tbody>
            </table>
        </main>

        <div class="modal" tabindex="-1" id="modalorcamento">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Excluir Cliente</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p>Confirmar a Exclusão do Cliente</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
                  <button type="button" class="btn btn-primary" id="btnsim">Sim</button>
                </div>
              </div>
            </div>
          </div>
        <div th:include="layout :: footer">(footer)</div>
        <script th:src="@{/script.js}"></script>
    </body>
</html>